@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #777;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"] {
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #f0f0f0;
}

.container form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.container form input[type="submit"]:hover {
  background-color: #0069d9;
}

.container p {
  text-align: center;
  margin-top: 15px;
  color: #777;
}

.container p a {
  color: #007bff;
  text-decoration: none;
}

.container p a:hover {
  text-decoration: underline;
}

.message {
  text-align: center;
  margin-bottom: 10px;
}

#dashboard {
  margin-top: 20px;
}

#dashboard h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #777;
}

#dashboard p {
  text-align: center;
  margin-bottom: 20px;
  color: #777;
}

#dashboard button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#dashboard button:hover {
  background-color: #0069d9;
}
/* Responsive styles for mobile phones */
@media screen and (max-width: 767px) {
  .container {
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .container h2 {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .container form input[type="text"],
  .container form input[type="email"],
  .container form input[type="password"] {
    padding: 8px; /* Adjust padding for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  .container form input[type="submit"] {
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .container p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #dashboard h2 {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  #dashboard p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  #dashboard button {
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}
